################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/bing-duvar-kagidi-degistirici/v16
/bing-duvar-kagidi-degistirici/bin/Release
/Siniflar/bin/Release
